    <!-- Now, continue the slider -->

    <section>
        <div class="fullscreen">
            <div class="col s12">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen1.jpg">
                            <!-- image 1 -->
                            <div class="caption center-align">
                                <h3>Nicaragua is Life</h3>
                                <h5 class="light grey-text text-lighten-3">the country of lagun and volcanos</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen2_2.jpg">
                            <!-- image 2 -->
                            <div class="caption left-align">
                                <h3>Nicaragua is History</h3>
                                <h5 class="light grey-text text-lighten-3">Coyotepe a hidden history</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen3.jpg">
                            <!-- image 3-->
                            <div class="caption right-align">
                                <h3>Nicaragua is beauty</h3>
                                <h5 class="light grey-text text-lighten-3">The Indian keep Sleeping.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen4.jpg">
                            <!--  image -->
                            <div class="caption center-align">
                                <h3>Nicaragua is tourism</h3>
                                <h5 class="light grey-text text-lighten-3">Corn Island where everything is beautiful</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- this part is submenus-->
   <section class=" container row" style="margin-top:50px">

    <!--this is the first menu -->
    <div  class="col s12 m4 l4">
        <div class="card hoverable">
            <div class="center">
                <i class="material-icons brown-text " style="font-size:50px">home</i>
            </div>
            <div class="card-action center">
                <a class="menu1" style="cursor:pointer; text-decoration:underline"> Contact us</a>
                <p>if you have any question about the content, you can send us a email and we'll reply you :D !!</p>
            </div>

        </div>
    </div>

    <!-- This is the sencod menu -->
    <div  class="col s12 m4 l4">
        <div class="card hoverable">
            <div class="center">
                <i class="material-icons blue-text" style="font-size:50px">camera_alt</i>
            </div>
            <div class="card-action center">
                <a class="menu1" style="cursor:pointer; text-decoration:underline;"> Photos</a>
                <p> Now, you can see any part about tourist places on Nicaragua in Ours Gallery !!.</p>
            </div>
        </div>
    </div>

    <!-- this is a thred menu-->
     <div  class="col s12 m4 l4">
        <div class="card hoverable">
            <div class="center">
                <i class="material-icons green-text" style="font-size:50px">explore</i>
            </div>
            <div class="card-action center">
                <a class="menu1" style="cursor:pointer; text-decoration:underline;"> Places</a>
                <p>You Can search many Tourist place that is linked with our website !!..</p>
            </div>
        </div>
    </div>
</section>


<!-- this is another section with paralls efect -->
<section>
    <div class="fullscreen">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img src="<?php echo(IMG_DIR)?>loginbackground2.jpg"></div>
            </div>
            <div class="section brown">
                <div class="row container">
                    <h2 class="header white-text">Tourism</h2>
                    <p style="color:#ffffff">Enjoy all the sites and tourist destinations in Nicaragua, full of adventure and fun in the waves of our lakes and landscapes spotted from the top of aour volcanoes, enjoying all the natural beauty that exists in the country.</p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="<?php echo(IMG_DIR)?>background5.jpg"></div>
            </div>
            <div class="section blue">
                <div class="row container">
                    <h2 class="header white-text">Maps and Ubications</h2>
                    <p style="color:#ffffff">.</p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="<?php echo(IMG_DIR)?>imagen2.jpg"></div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
            $('.slider').slider({full_width: true});
            $('.parallax').parallax();

        });
</script>
