<div id="fondorconfirm">
    <div id="containerconfirm" class="container">
        <div id="confirmdialog" class="card z-depth-2 ">
            <div class="col s11 m11 #1565c0 blue darken-3" style=" border-top-left-radius:10px; border-top-right-radius:10px ">
                <div class="col s11 m8">
                    <div class="center">
                        <img src="views/img/logo.svg">
                    </div>
                </div>
                <div class="col s11 m3">
                    <h3 class="center" style="color:white">Nicatrip</h3>
                </div>
            </div>
            <div id="confirmdialog" class="card-action center">
                <p style="text-align: justify"> Congratulations you had been successfully registered. Now you can enjoy all the content in this website :D !!. Please go to the link below for access to your account.</p>
                <a class="menu1" style="cursor:pointer; text-decoration:underline"> Go to website</a>
            </div>
        </div>
    </div>
</div>