    <footer class="page-footer #00c853 green accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact us</h5>
                <p class="grey-text text-lighten-4">You can send us a sms via the next social networking</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Networks</h5>
                <ul>
                    <li><a id="face" class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                    <li><a id="leaf" class="grey-text text-lighten-3" href="#!">Leaf</a></li>
                    <li><a id="tweet" class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <?php echo(COPY_LIC)?>
        </div>
    </div>
</footer>