<?php
    include(MODELS_DIR . 'picture.php');
    $pictures = Picture :: getPictures();
    echo('<div class="row">');
    foreach ($posts as $post)
    { ?>

    <form class="col s12 m4 commentform">
       <input type="hidden" name='<?php echo($post->getIdPost())?>t' value="">
        <div class="card">
            <div class="card-content" style="margin-bottom:0px">
                <div class="row">
                    <div class="col s2">
                        <img src="views/img/perfil.jpg" class="circle responsive-img">
                    </div>
                    <div class="col s10">
                        <p class="grey-text text-darken-4 margin">Ricardo Martinez</p>
                        <span class="grey-text text-darken-1 ultra-small">Shared - 03 Junio 2016</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>El resplandor de nuestro territorio Nicaraguense, destacado por su belleza de lagos!!</p>
                    </div>
                </div>
            </div>
            <div class="card-image">
                <img class="materialboxed" src="views/img/mirador_catarina_3.jpg" height="300px" style="cursor:pointer;">
                <span class="card-title">
              Mirador de Catarina</span>
            </div>
            <div class="card-action row">
                <div class="col s4 card-action-share">
                    <span class="badge green white-text left-align" style="border-radius:10px"> 4 </span> <a style="cursor:pointer" class="left">Like</a>
                    <a class="activator" style="cursor:pointer">Comments</a>
                </div>
                <div class="input-field col s8">
                    <input id="profile-comment" type="text" class="validate margin commentbox">
                    <label for="profile-comment">Comment</label>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="views/img/gerardo.jpg" alt="" class="circle responsive-img">
                        <span class="title green-text">Eleazar Carballo</span>
                        <p> Es una belleza de imagen esta foto que has tomado ricardo, mis felicitaciones :) !!..
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <img src="views/img/yuna.jpg" alt="" class="circle responsive-img">
                        <span class="title green-text">Erica Mendez</span>
                        <p> Waho espero un dia ir a visitar nicaragua, principalmente el mirador de catarina XD !!
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <?
    }
    php?>



<script>
    $(document).ready(function () {
        $('textarea#textarea1').characterCounter();
    });

    $(document).ready(function () {
        $('.commentbox').keypress(function(e){
            var code = e.keyCode || e.which;
            if(code == 13)
            {
                alert("Testing");
            }
        });
    });

    $(document).ready(function(){
        $('.commentform').submit(
            var data = $(this).serialize();
            addComment('?post=comment',data,null);
            return false;
        );
    })

</script>
