<?php
    
?>
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="<?php echo(CSS_DIR)?>bootstrap.css"> -->
    <link rel="icon" type="image/svg" href="views/img/logo.svg">
    <link rel="stylesheet" href="<?php echo(CSS_DIR)?>materialize.css">
    <link rel="stylesheet" href="<?php echo(CSS_DIR)?>bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo(CSS_DIR)?>style.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="<?php echo(JS_DIR)?>jquery-2.2.3.min.js"></script>
    <script src="<?php echo(JS_DIR)?>materialize.min.js"></script>    
    <script src="<?php echo(JS_DIR)?>bootstrap.min.js"></script>
    <script src="<?php echo(AJAX_DIR)?>ajax.js"></script>
    <base href="<?php echo(SITE_URL)?>">

