<header style="width:100%">

       <!-- This part is the bar nav menu -->
       <nav>
            <div class="nav-wrapper #00c853 green accent-4">
                <a href="?view=index" class="brand-logo" style="margin: 0px 5px;"> <img src="views/img/logo.svg" alt="" class="nav-logo">NicaTrip</a>
                <a data-activates="mobile-demo" class="button-collapse" style="cursor:pointer"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="?view=index"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="?view=gallery"><i class="material-icons left">insert_photo</i>Gallery</a></li>
                    <li><a href="?view=login"><i class="material-icons left">account_circle</i>Login</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="?view=index"><i class="material-icons left brown-text">home</i>Home</a></li>
                    <li><a href="?view=gallery"><i class="material-icons left blue-text">insert_photo</i>Gallery</a></li>
                    <li><a href="?view=login"><i class="material-icons left green-text">account_circle</i>Login</a></li>

                </ul>
            </div>
        </nav>
       <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
   </header>
