<div class="container-fluit" style="margin:10px">

    <!-- this is the profile of the user -->

    <div class="col s12 m12 ">
        <div class="card">
            <div class="card-image" style="border-bottom:1px solid black">
                <img class="materialboxed" src="<?php echo(COVER_DIR)?>/default.png" height="350px" style="cursor:pointer;">
            </div>
            <figure class="card-profile-image">
                <img src="<?php echo(PROFILE_DIR . $user->getProfilePicture())?>" class="circle z-depth-2 responsive-img materialboxed" width="100px" height="100px" style="cursor:pointer; margin-top:-70px">
            </figure>
            <div class="card-content" style="margin-top:-90px;">
                <div class="row">
                    <div class="col s12 m3 offset-s2 offset-m1">
                        <h4 class="card-title grey-text center"><?php echo($user->getName() . ' ' . $user->getLastName())?></h4>
                    </div>
                    <div class="col s12 m3 offset-s2 offset-m1">
                        <h4 class="card-title grey-text center"><?php echo($user->getPhotoCount($user->getIdUser()))?></h4>
                        <p class="center medium-small">Photos</p>
                    </div>
                    <div class="col s12 m3 offset-s2 offset-m1">
                        <h4 class="card-title grey-text center">Age</h4>
                        <p class="center medium-small">
                            <?php echo($user-> getAge($user->getIdUser())) ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- this part is the content -->

    <div class="row">

        <script>
            $(document).ready(function () {
                $('#login_form').submit(function () {
                    var result = $('#result');
                    var data = $('#login_form').serialize();
                    login('?post=login', data, result, $('#myModal'), $('#message'));
                    return false;
                });

                Materialize.updateTextFields();
            });
        </script>




        <div class="col s12 m4">

            <!-- this is a information about my profile-->

            <div class="card light-blue">
                <div class="card-content white-text">
                    <span class="card-title">about me !!</span>
                    <p>
                        <?php echo($user->getAbout(($user->getIdUser()))) ?>
                    </p>
                </div>
            </div>

            <!-- this is about me profile -->
            <ul class="collection z-depth-3">
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1">
                            <i class="material-icons" style="font-size:25px">card_travel</i> Work At:
                        </div>
                        <div class="col s7 grey-text text-darken-4 right-align">NicaTrip & Leaf </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1">
                            <i class="material-icons">room</i> Lives in
                        </div>
                        <div class="col s7 grey-text text-darken-4 right-align">
                            <?php echo($user->getAddress($user->getIdUser())) ?>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s5 grey-text darken-1">
                            <i class="material-icons">cake</i> Birth date
                        </div>
                        <div class="col s7 grey-text text-darken-4 right-align">
                            <?php echo($user->getBirthdayconvert($user->getIdUser()))?>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- this more content -->

            <div class="card amber darken-2">
                <div class="card-content white-text center">
                    <p class="card-title">
                        <i class="material-icons" style="font-size:40px">group_add</i> 10
                    </p>
                    <p>Countries</p>
                </div>
            </div>

            <!-- information about the page -->

            <div class="card center-align">
                <div class="card-content purple white-text">
                    <p class="card-stats-title">Nicatrip Users</p>
                    <h4> +<?php echo($user->getTotalUsers())?></h4>
                    <p class="ultra-small">user registred</p>
                </div>
            </div>

            <!-- this is a slide -->

            <div class="card">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen1.jpg">
                            <!-- image 1 -->
                            <div class="caption center-align">
                                <h3>Nicaragua is Life</h3>
                                <h5 class="light grey-text text-lighten-3">the country of lagun and volcanos</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen2_2.jpg">
                            <!-- image 2 -->
                            <div class="caption left-align">
                                <h3>Nicaragua is History</h3>
                                <h5 class="light grey-text text-lighten-3">Coyotepe a hidden history</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen3.jpg">
                            <!-- image 3-->
                            <div class="caption right-align">
                                <h3>Nicaragua is beauty</h3>
                                <h5 class="light grey-text text-lighten-3">The Indian keep Sleeping.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo(IMG_DIR)?>imagen4.jpg">
                            <!--  image -->
                            <div class="caption center-align">
                                <h3>Nicaragua is tourism</h3>
                                <h5 class="light grey-text text-lighten-3">Corn Island where everything is beautiful</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- information with my friends -->

            <ul class="collection with-header">
                <li class="collection-header red">
                    <h4 class="card-title white-text">Nicatrip Users</h4>
                </li>
                <li class="collection-item avatar">
                    <img src="<?php echo(IMG_DIR)?>/westly.jpg" alt="friends" class="circle">
                    <p>Westly Meza</p>
                </li>
                <li class="collection-item avatar">
                    <img src="<?php echo(IMG_DIR)?>/gerardo.jpg" alt="friends" class="circle">
                    <p>Eleazar Martinez</p>
                    <br>
                    <div class="center">
                        <span class="ultra-small" style="cursor:pointer"><a>Show more</a></span>
                    </div>
                </li>
            </ul>

        </div>

        <!-- these are the post -->
        <div class="col s12 m8">
            <div class="row">

                <!-- these are the tabs of the motion -->
                <ul class=" tabs tab-profile z-depth-3 red">
                    <li class="tab col s4">
                        <a class="white-text waves-effect waves-light" href="#updateStatus">
                            <i class="material-icons">create</i> Update Status
                        </a>
                    </li>
                    <li class="tab col s4">
                        <a class="white-text waves-effect waves-light" href="#Photos">
                            <i class="material-icons">camera_enhance</i> SHARE PHOTOS
                        </a>
                    </li>
                    <li class="tab col s4">
                        <a class="white-text waves-effect waves-light" href="#Videos">
                            <i class="material-icons">videocam</i> SHARE VIDEO
                        </a>
                    </li>
                </ul>

                <!-- the content of the status tab -->
                <form id="updateStatus" class="tab-content col s12  grey lighten-4 z-depth-3">
                    <div class="row">
                        <div class="col s2">
                            <img src="<?php echo(PROFILE_DIR . $user->getProfilePicture())?>" alt="" class="circle responsive-img valign" style="margin-top:20px">
                        </div>
                        <div class="input-field col s9">
                            <textarea id="textarea" row="2" class="materialize-textarea" required></textarea>
                            <label for="textarea">
                                what's you want to say?
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m6 share-icons">
                            <i class="material-icons blue-text">create</i>
                            <i class="material-icons">camera_enhance</i>
                            <i class="material-icons">videocam</i>
                        </div>
                        <div class="col s6 m6 right-align">
                            <button type="submit" class="waves-effect waves-light btn">
                                <i class="material-icons">cached</i>Update
                            </button>
                        </div>
                    </div>
                </form>

                <!-- the content of the photos tab -->
                <form id="Photos" class="tab-content col s12  grey lighten-4 z-depth-3">
                    <div class="row">
                        <div class="col s2">
                            <img src="<?php echo(PROFILE_DIR . $user->getProfilePicture())?>" alt="" class="circle responsive-img valign" style="margin-top:20px">
                        </div>
                        <div class="input-field col s9">
                            <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                            <label for="textarea">
                                Share your favorite Picture !.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 share-icons">
                            <i class="material-icons">account_circle</i>
                            <i class="material-icons green-text">camera_enhance</i>
                            <i class="material-icons">room</i>
                        </div>
                        <div class="col s12 m6 right-align">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" name="upload_img">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                </div>
                            </div>
                            <button type='submit' class="waves-effect waves-light btn" value='Upload picture' name="submit">Post
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- the content of the video tab-->
                <form id="Videos" class="tab-content col s12  grey lighten-4 z-depth-3">
                    <div class="row">
                        <div class="col s2">
                            <img src="<?php echo(PROFILE_DIR . $user->getProfilePicture())?>" alt="" class="circle responsive-img valign" style="margin-top:20px">
                        </div>
                        <div class="input-field col s9">
                            <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                            <label for="textarea">
                                Share your favorite Youtube video !.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 share-icons">
                            <i class="material-icons">account_circle</i>
                            <i class="material-icons">camera_enhance</i>
                            <i class="material-icons red-text">videocam</i>
                        </div>
                        <div class="col s12 m6 right-align">
                            <a class="waves-effect waves-light btn">
                                <i class="material-icons">send</i>Share Video
                            </a>
                        </div>
                    </div>
                </form>

            </div>


            <div class="row">
                <div class="card">
                    <div class="card-content" style="margin-bottom:0px">
                        <div class="row">
                            <div class="col s2">
                                <img src="views/img/westly.jpg" class="circle responsive-img materialboxed" style="cursor:pointer">
                            </div>
                            <div class="col s10">
                                <p class="grey-text text-darken-4 margin">Westly Meza</p>
                                <span class="grey-text text-darken-1 ultra-small">Shared - 01 Junio 2016</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>haber muchachos quien se anima a ver esta movie jajaja !!</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-image profile-medium">
                        <div class="video-container no-controls">
                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/10r9ozshGVE" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-action row">
                        <div class="col s4 card-action-share">
                            <a href="#">Like</a>
                            <a href="#">Comments</a>
                        </div>
                        <div class="input-field col s8">
                            <input id="profile-comment" type="text" class="validate margin">
                            <label for="profile-comment">Comment</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="card">
                    <div class="card-content" style="margin-bottom:0px">
                        <div class="row">
                            <div class="col s2">
                                <img src="views/img/gerardo.jpg" class="circle responsive-img materialboxed" style="cursor:pointer">
                            </div>
                            <div class="col s10">
                                <p class="grey-text text-darken-4 margin">Eleazar Carballo</p>
                                <span class="grey-text text-darken-1 ultra-small">Shared - 01 Junio 2016</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>Una belleza de volcan que se encuentra activo en el pais :D !!.. Nicaragua Tierra de Lagos y Volcanes </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img class="materialboxed" src="views/img/imagen3.jpg" height="300px" style="cursor:pointer">
                        <span class="card-title">
                Volcan Masaya</span>
                    </div>
                    <div class="card-action row">
                        <div class="col s4 card-action-share">
                            <a href="#">Like</a>
                            <a href="#">Comments</a>
                        </div>
                        <div class="input-field col s8">
                            <input id="profile-comment" type="text" class="validate margin">
                            <label for="profile-comment">Comment</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-content" style="margin-bottom:0px">
                        <div class="row">
                            <div class="col s2">
                                <img src="views/img/perfil.jpg" class="circle responsive-img">
                            </div>
                            <div class="col s10">
                                <p class="grey-text text-darken-4 margin">Ricardo Martinez</p>
                                <span class="grey-text text-darken-1 ultra-small">Shared - 03 Junio 2016</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>El resplandor de nuestro territorio Nicaraguense, destacado por su belleza de lagos!!</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-image">
                        <img class="materialboxed" src="views/img/mirador_catarina_3.jpg" height="300px" style="cursor:pointer;">
                        <span class="card-title">
              Mirador de Catarina</span>
                    </div>
                    <div class="card-action row">
                        <div class="col s4 card-action-share">
                            <span class="badge green white-text left-align" style="border-radius:10px"> 2 </span> <a style="cursor:pointer" class="left">Like</a>
                            <a class="activator" style="cursor:pointer">Comments</a>
                        </div>
                        <div class="input-field col s8">
                            <input id="profile-comment" type="text" class="validate margin">
                            <label for="profile-comment">Comment</label>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="views/img/gerardo.jpg" alt="" class="circle responsive-img">
                                <span class="title green-text">Eleazar Carballo</span>
                                <p> Es una belleza de imagen esta foto que has tomado ricardo, mis felicitaciones :) !!..
                                </p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="views/img/yuna.jpg" alt="" class="circle responsive-img">
                                <span class="title green-text">Erica Mendez</span>
                                <p> Waho espero un dia ir a visitar nicaragua, principalmente el mirador de catarina XD !!
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- this is a boton for upload a image of my profile of my backpicture -->
    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating tooltipped red" data-position="left" data-delay="50" data-tooltip="log out"><i class="material-icons">settings_power</i></a></li>
            <li><a class="btn-floating tooltipped amber" data-position="left" data-delay="50" data-tooltip="chage wallpaper"><i class="material-icons">aspect_ratio</i></a></li>
            <li><a class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="chage profile picture"><i class="material-icons">account_circle</i></a></li>
        </ul>
    </div>
    <!-- this is a boton for upload a image of my profile of my backpicture -->
</div>


<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({
            delay: 50
        });
        $('.slider').slider({
            full_width: true
        });
        $('ul.tabs').tabs();
    });
</script>

<script>
    $(document).ready(function () {
        $('#Photos').submit(function () {
            var result = $('#result');
            var data = $('#Photos').serialize();
            login('?post=img', data, result, $('#myModal'), $('#message'));
            return false;
        });
    });
</script>
